@import "styles/typography.scss";
@import "styles/colors.scss";

.container {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(142, 142, 142, 0.2);
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $gray-1;
  background-color: $white;
  padding: 12px 24px;
  margin: auto;
  max-width: 1168px;
  font-size: $size-body;
  font-weight: $weight-bold;
}

.left-items,
.right-items {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 24px;
}

.home-text {
  font-size: $size-sub-heading-2;
}

.home-icon {
  display: none;
  fill: #595959;

  svg {
    width: 24px;
    height: 24px;
  }
}

.languages-text {
  position: relative;
  display: flex;
  justify-content: center;

  button {
    text-transform: uppercase;
  }
}

.languages-icon {
  position: relative;
  display: none;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
}

.options {
  position: absolute;
  top: 54px;
  padding: 16px;
  background-color: $white;
  box-shadow: 0px 2px 8px 2px rgba(142, 142, 142, 0.2);
  z-index: 10;

  ul {
    text-align: center;

    li {
      font-size: $size-sub-heading-2;
      font-weight: $weight-regular;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 695px) {
  .navigation {
    justify-content: space-between;
  }

  .title {
    display: none;
  }

  .home-text {
    display: none;
  }

  .home-icon {
    display: block;
  }

  .languages-text {
    display: none;
  }

  .languages-icon {
    display: flex;
    fill: #595959;
  }
}

@media (max-width: 480px) {
  .item {
    margin-right: 8px;
  }
}
