@import "styles/colors.scss";
@import "styles/elevations.scss";
@import "styles/typography.scss";

.container {
  @extend %elevation-1;
  display: flex;
  font-size: $size-caption;
  font-weight: $weight-regular;
  max-width: 480px;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  border-color: $white;
}

.under {
  box-sizing: border-box;
  background-color: $white;
  color: $gray-3;
  line-height: 28px;
  text-align: center;
}

.selectedcontainer {
  display: flex;
  line-height: 28px;

  div {
    &:not(:last-child) {
      border-right-width: 2px;
      border-right-style: solid;
      border-radius: 0;
      border-color: $white;
    }
  }
}

.selected {
  z-index: 3;
  border-color: $white;
  background-color: $gray-3;
  color: $white;
  text-align: center;
}

.fukujin {
  z-index: 3;
  border-color: $white;
  background-color: $gray-1;
  color: $white;
  text-align: center;
}

.center {
  z-index: 4;
  border-color: $white;
  background-color: $pink-1;
  color: $white;
  text-align: center;
}
