@import "client/styles/colors.scss";
@import "client/styles/typography.scss";
@import "client/styles/elevations.scss";
@import "client/styles/spacing.scss";

.background {
  @extend %bg-2;
  min-height: 100vh;
}

.link {
  display: block;
  width: 60px;

  button {
    text-align: left;
    width: 100%;
  }

  a {
    display: block;
  }
}

.back {
  fill: $white;
  height: 32px;
  width: 32px;
}

.container {
  color: $white;
  margin-top: 12px;
}

.heading {
  margin: 0 12px 40px;
}

.title {
  font-size: $size-title;
  font-weight: $weight-bold;
  margin-bottom: 8px;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $size-sub-heading-3;
  font-weight: $weight-light;
  text-transform: uppercase;

  span {
    display: block;
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.flex-box {
  display: flex;
  flex-direction: row;
}

.artwork {
  margin: 8px 40px 0 12px;
}

.artwork-image-wrapper {
  @extend %elevation-4;
  background-color: $white;
  border: 8px solid $white;
  box-sizing: border-box;
  height: 256px;
  width: 256px;
}

.artwork-image {
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;

  .section:not(:last-child) {
    margin-bottom: 40px;
  }
}

.subheading {
  font-size: $size-sub-heading;
  font-weight: $weight-bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.body {
  font-size: $size-body;
  font-weight: $weight-regular;
}

.caption {
  font-size: $size-body;
  font-weight: $weight-light;
  text-transform: capitalize;
}

.formation {
  margin-top: 24px;

  .row:not(:last-child) {
    margin-bottom: 24px;
  }
}

.row-index {
  font-size: $size-sub-heading-3;
  font-weight: $weight-bold;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.grid {
  align-items: flex-start;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-items: center;

  .card {
    height: 100%;
    width: 100%;
  }
}

.creators-container {
  margin-bottom: 20px;
}

.creators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.creators-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  max-width: 160px;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.creator-work {
  font-size: $size-body;
  font-weight: $weight-bold;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.creator-names {
  font-size: $size-body;
  font-weight: $weight-regular;
  line-height: 24px;
}

@media (min-width: 271px) and (max-width: 389px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 390px) and (max-width: 507px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 508px) and (max-width: 694px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 695px) and (max-width: 827px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 828px) and (max-width: 945px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 946px) and (max-width: 1063px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1064px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 695px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .flex-box {
    flex-direction: column;
  }

  .artwork {
    margin: 24px 0 64px;
  }

  .artwork-image-wrapper {
    height: 80vw;
    margin: auto;
    max-height: 256px;
    max-width: 256px;
    width: 80vw;
  }
}

@media (max-width: 507px) {
  .creators {
    flex-direction: column;
  }

  .creators-item {
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 4px;
    max-width: none;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .creator-work {
    margin-right: 32px;
  }
}
