@import "styles/typography.scss";
@import "styles/colors.scss";
@import "styles/spacing.scss";

.layout {
  padding-bottom: 0 !important;
  padding-top: calc(24px + env(safe-area-inset-top)) !important;

  @media (min-width: 600px) {
    margin-top: $top-spacing-with-navigation-bar !important;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-bottom: 0px solid rgba(89, 89, 89, 0);
  box-sizing: border-box;
  margin: 4px;
  padding-bottom: 4px;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-right: 24px;
  }
}
