@import "styles/typography.scss";
@import "styles/colors.scss";

.layout {
  padding-bottom: 12px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  justify-content: center;
}

.item {
  border-bottom: 0px solid rgba(89, 89, 89, 0);
  box-sizing: border-box;
  margin: 4px;
  padding-bottom: 4px;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-right: 24px;
  }
}
