@import "styles/colors.scss";

.background {
  @extend %bg-1;
  min-height: 100vh;
}

.link {
  display: block;
  width: 60px;

  a {
    display: block;
  }
}

.back {
  fill: $white;
  width: 32px;
  height: 32px;
}
