$white: #ffffff;

$gray-1: #595959;
$gray-2: #757575;
$gray-3: #9c9c9c;
$gray-4: #d6d6d6;
$gray-5: #f6f6f6;

$purple-1: #af7dce;
$purple-2: #ec9adf;
$purple-3: #c3aac7;

$pink-1: #e887a3;

$blue-1: #41c1e8;
$blue-2: #80a7d5;
$blue-3: #418ee8;

$yellow-1: #e8ad68;

%bg-1 {
  background: linear-gradient(to left top, $purple-2, $blue-1);
}

%bg-2 {
  background: linear-gradient(to left top, $purple-2, $blue-3);
}

%bg-3 {
  background: linear-gradient(to left top, $yellow-1, $pink-1);
}
