@import "styles/typography.scss";
@import "styles/colors.scss";
@import "styles/elevations.scss";

.background {
  background-color: rgba(65, 65, 65, 0.8);
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 20;

  @media (min-width: 600px) {
    display: none;
  }
}

.invisible-background {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 20;

  @media (min-width: 600px) {
    display: none;
  }
}

.side-bar {
  background-color: $pink-1;
  box-shadow: 9px 0px 12px rgba(65, 65, 65, 0.3);
  color: $white;
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-102vw);
  width: 70vw;
  z-index: 22;

  @media (min-width: 600px) {
    background: none;
    box-shadow: none;
    display: none;
  }
}

.close-icon-container {
  margin-bottom: 36px;
  width: 100%;
}

.close-icon {
  fill: $white;
  left: 0;
  margin: 12px;
  top: 0;
}

.pages {
  margin: auto;
  text-align: center;
}

.page {
  font-weight: $weight-bold;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.divider {
  border: 1px solid $white;
  margin: auto;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 24px;
}

.languages {
  bottom: 10%;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

.language {
  font-size: $size-body;
  font-weight: $weight-bold;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 18px;
  }
}
