$weight-light: 300;
$weight-regular: 500;
$weight-bold: 700;

$size-title: 36px;
$size-heading: 30px;
$size-sub-heading: 24px;
$size-sub-heading-2: 20px;
$size-sub-heading-3: 18px;
$size-body: 16px;
$size-caption: 14px;
