.wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: 200vw;
}

.page {
  width: 100vw;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  margin-bottom: 24px;
}

.artwork {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

@media (min-width: 248px) and (max-width: 471px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 472px) and (max-width: 695px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 696px) and (max-width: 919px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
