@import "styles/typography.scss";
@import "styles/colors.scss";

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tabitem {
  padding-bottom: 8px;
  margin: 4px;
  color: $gray-2;
  font-size: $size-sub-heading;
  font-weight: $weight-regular;
  line-height: $size-sub-heading;
  border-bottom-style: solid;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  padding: 24px;
  max-width: 1168px;
  margin: auto;
  position: absolute;
}

.artwork {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

@media (min-width: 248px) and (max-width: 471px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 472px) and (max-width: 695px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 696px) and (max-width: 919px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
