@import "styles/typography.scss";
@import "styles/colors.scss";
@import "styles/spacing.scss";

.grid {
  align-items: center;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-items: center;
  left: 0;
  margin: auto;
  margin-bottom: $page-margin-bottom-without-navigation-bar;
  max-width: 1168px;
  padding: 24px;
  position: absolute;
  right: 0;

  @media (max-width: 599px) {
    margin-bottom: $page-margin-bottom-with-navigation-bar;
  }
}

.artwork {
  display: block;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
}

@media (min-width: 248px) and (max-width: 471px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 472px) and (max-width: 695px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 696px) and (max-width: 919px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
