@import "styles/typography.scss";
@import "styles/colors.scss";
@import "styles/elevations.scss";
@import "styles/spacing.scss";

%section {
  text-align: left;

  @media (max-width: 480px) {
    text-align: center;
  }
}

.container {
  margin-bottom: $page-margin-bottom-without-navigation-bar;

  @media (max-width: 599px) {
    margin-bottom: $page-margin-bottom-with-navigation-bar;
  }
}

.title-section {
  display: flex;
  flex-direction: row;
  margin-top: 24px;

  @media (max-width: 480px) {
    align-items: center;
    flex-direction: column;
  }
}

.title-text {
  margin-right: 40px;
  text-align: left;

  @media (max-width: 480px) {
    margin-right: 0;
    text-align: center;
  }
}

.title {
  color: $gray-1;
  font-size: $size-title;
  font-weight: $weight-bold;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.subtitle {
  color: $gray-1;
  font-size: $size-sub-heading;
  font-weight: $weight-bold;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.text {
  color: $gray-1;
  font-size: $size-body;
  font-weight: $weight-regular;
  line-height: 20px;
}

.app-link {
  @extend %elevation-1-normal;
  background-color: $pink-1;
  color: $white;
  display: inline-block;
  font-size: $size-sub-heading-3;
  font-weight: $weight-bold;
  margin-top: 32px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.favicon-small {
  display: none;
  height: 128px;
  margin-bottom: 24px;
  width: 128px;

  @media (max-width: 480px) {
    display: inline-block;
  }
}

.favicon-large {
  flex: 0 0 auto;
  height: 192px;
  width: 192px;

  img {
    width: 100%;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.languages-section {
  @extend %section;
  margin-bottom: 24px;
}

.languages {
  a:not(:last-child) {
    margin-right: 16px;
  }
}

.text-link {
  color: $pink-1;
  display: inline-block;
  padding: 1px;
  text-decoration: underline;
}

.subtitle-link {
  border-bottom: $gray-2 solid 2px;
  box-sizing: border-box;
  color: $gray-1;
  display: inline-block;
  padding: 2px;
}

.cds-section {
  @extend %section;
}

.cds-section-container {
  @extend %bg-1;
  margin-bottom: 24px;
}

.section-items {
  margin-bottom: 32px;
}

.section-item {
  display: flex;
  margin: 48px 0;

  @media (max-width: 695px) {
    align-items: center;
    flex-direction: column;
  }
}

.section-item-text {
  margin-top: 12px;

  h3 {
    color: $white;
    font-size: $size-sub-heading;
    font-weight: $weight-bold;
    margin-bottom: 24px;
  }

  p {
    color: $white;
    font-size: $size-body;
    font-weight: $weight-regular;
    line-height: 20px;
    margin-bottom: 16px;
  }

  @media (max-width: 695px) {
    margin-top: 0;

    h3 {
      text-align: center;
    }
  }
}

.section-item-text-no-bg {
  margin-top: 12px;

  h3 {
    color: $gray-1;
    font-size: $size-sub-heading;
    font-weight: $weight-bold;
    margin-bottom: 24px;
  }

  p {
    color: $gray-1;
    font-size: $size-body;
    font-weight: $weight-regular;
    line-height: 20px;
    margin-bottom: 16px;
  }

  @media (max-width: 695px) {
    margin-top: 0;

    h3 {
      text-align: center;
    }
  }
}

%screenshot-large {
  @extend %elevation-4-normal;
  background-color: $white;
  border: 4px solid $white;
  display: inline-block;
  flex: 0 0 auto;
  height: 50vw;
  max-height: 512px;
  max-width: 512px;
  width: 50vw;

  @media (max-width: 695px) {
    display: none;
  }
}

%screenshot-small {
  @extend %elevation-4-normal;
  background-color: $white;
  border: 4px solid $white;
  display: none;
  height: auto;
  margin-bottom: 0;
  max-width: 300px;
  width: 100%;

  @media (max-width: 695px) {
    display: inline-block;
    margin-bottom: 32px;
    margin-right: 0;
  }
}

.cds-screenshot-large {
  @extend %screenshot-large;
  margin-right: 24px;
}

.cds-screenshot-small,
.members-screenshot-small {
  @extend %screenshot-small;
}

.members-screenshot-large {
  @extend %screenshot-large;
  margin-left: 24px;
}

.search-screenshot-large {
  @extend %screenshot-large;
  border-color: $gray-3;
  margin-right: 24px;
}

.search-screenshot-small {
  @extend %screenshot-small;
  border-color: $gray-3;
}

.members-section {
  @extend %section;
}

.members-section-container {
  @extend %bg-3;
  margin-bottom: 24px;
}

.search-section {
  @extend %section;
}

.search-section-container {
  background-color: $white;
  margin-bottom: 24px;

  .section-item {
    margin-top: 0;
  }
}

.copyright-section {
  @extend %section;

  p {
    line-height: 24px;
  }
}

.source-code-section {
  @extend %section;
}
