@import "styles/colors.scss";
@import "styles/typography.scss";
@import "styles/elevations.scss";

.container {
  height: 100%;
}

.artwork {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.images {
  @extend %elevation-4;
  background-color: $white;
  border: 8px solid $white;
  cursor: pointer;
  height: 256px;
  margin: 0 12px;
  overflow-x: hidden;
  width: 256px;
}

.image {
  height: 256px;
  object-fit: cover;
  position: absolute;
  width: 256px;
}

.arrow {
  fill: $white;
  max-width: 24px;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  button:not(:last-child) {
    margin-right: 4px;
  }
}

.dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

@media (max-width: 695px) {
  .images {
    height: 52vw;
    max-height: 256px;
    max-width: 256px;
    width: 52vw;
  }

  .image {
    height: 52vw;
    max-height: 256px;
    max-width: 256px;
    width: 52vw;
  }
}

@media (max-width: 380px) {
  .arrow {
    width: 20px;
  }
  .images {
    margin: 0;
  }
}
