@import "client/styles/colors.scss";
@import "client/styles/typography.scss";
@import "client/styles/elevations.scss";

.link {
  height: 100%;
}

.container {
  @extend %elevation-1-normal;
  align-items: center;
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  position: relative;
}

.center {
  background-color: $purple-1;
  color: $white;
}

.image-container {
  margin-bottom: 8px;
  max-width: 160px;
  min-width: 90px;
  overflow: hidden;
  padding-top: 120%;
  position: relative;
  width: 100%;
}

.wrapper {
  background-color: $gray-4;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image {
  height: 100%;
}

.name {
  align-items: center;
  color: $gray-1;
  display: flex;
  font-size: $size-caption;
  font-weight: $weight-regular;
  height: 100%;
  max-height: 36px;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
}
