@import "client/styles/spacing.scss";

.grid {
  align-items: flex-start;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  justify-items: center;
  left: 0;
  margin: auto;
  max-width: 1168px;
  padding: 24px;
  padding-bottom: $bottom-spacing-without-navigation-bar;
  position: absolute;
  right: 0;

  @media (max-width: 599px) {
    padding-bottom: $bottom-spacing-with-navigation-bar;
  }
}

.card {
  height: 100%;
  width: 100%;
}
