@import "styles/colors.scss";
@import "styles/typography.scss";
@import "styles/elevations.scss";

.link {
  display: block;
  width: 60px;

  button {
    text-align: left;
    width: 100%;
  }

  a {
    display: block;
  }
}

.back {
  fill: $white;
  width: 32px;
  height: 32px;
}

.container {
  margin-top: 12px;
  color: $white;
}

.heading {
  margin: 0 12px 40px;
}

.title {
  font-size: $size-title;
  font-weight: $weight-bold;
  margin-bottom: 8px;
}

.tags {
  font-size: $size-sub-heading-2;
  font-weight: $weight-light;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;

  span {
    display: block;
    margin-bottom: 4px;
    line-height: 24px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.profileimage {
  margin: 8px 40px 0 12px;

  img {
    @extend %elevation-4;
    width: 180px;
    display: block;
    border: 4px solid $white;
    box-sizing: border-box;
  }
}

.content {
  width: 100%;
  margin-bottom: 64px;

  .section:not(:last-child) {
    margin-bottom: 48px;
  }
}

.subheading {
  font-size: $size-sub-heading;
  font-weight: $weight-bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.body {
  font-size: $size-body;
  font-weight: $weight-regular;
}

.caption {
  font-size: $size-body;
  font-weight: $weight-light;
  text-transform: capitalize;
}

.websites {
  a {
    text-decoration: underline;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.profile {
  margin-bottom: 36px !important;
}

.stickcolors {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.stick {
  @extend %elevation-1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  display: block;

  &:first-child {
    margin-right: 8px;
  }
}

.infocontainer {
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.infoitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  max-width: 160px;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.infotitle {
  font-size: $size-body;
  font-weight: $weight-light;
  line-height: 20px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.infocontent {
  font-size: $size-body;
  font-weight: $weight-bold;
  line-height: 24px;
  text-transform: capitalize;
}

.height {
  text-transform: none;
}

.photoalbums {
  font-size: $size-body;
  font-weight: $weight-regular;
  padding-inline-start: 0;
  list-style-type: none;

  li {
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    span:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.positionrecord {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 12px 6px 0;
}

.positionnumber {
  font-size: $size-caption;
  font-weight: $weight-regular;
  margin-bottom: 4px;
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px 12px 6px 0;
}

.indicatorcaption {
  font-size: $size-caption;
  font-weight: $weight-regular;
  line-height: 24px;
  margin-top: 4px;
  margin-left: 4px;
  text-transform: capitalize;
}

.gallery {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
}

.galleryimagecontainer {
  @extend %elevation-1-normal;
  position: relative;
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $white;
}

.galleryimage {
  display: block;
  width: 100%;
  height: auto;
  max-width: 160px;
  min-width: 90px;
  transform-origin: center;
  object-fit: cover;
}

@media (min-width: 271px) and (max-width: 389px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 390px) and (max-width: 507px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 508px) and (max-width: 694px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 695px) and (max-width: 827px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 828px) and (max-width: 945px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 946px) and (max-width: 1063px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1064px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 695px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .flexbox {
    flex-direction: column;
  }

  .heading {
    margin-bottom: 24px;
  }

  .profileimage {
    margin: 0 0 24px;

    img {
      max-width: 180px;
      width: 100%;
      margin: auto;
    }
  }
}
