@import "styles/colors.scss";

.container {
  position: relative;
}

.contents {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.bg1 {
  background: linear-gradient(to left top, $purple-2, $blue-1);
}

.bg2 {
  background: linear-gradient(to left top, $purple-2, $blue-3);
}

.bg3 {
  background: linear-gradient(to left top, $yellow-1, $pink-1);
}
