@import "styles/typography.scss";
@import "styles/colors.scss";

.layout {
  padding-bottom: 12px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-bottom-style: solid;
  color: $gray-1;
  font-size: $size-sub-heading;
  font-weight: $weight-regular;
  line-height: $size-sub-heading;
  margin: 4px;
  padding-bottom: 4px;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.active {
  border-bottom-color: #595959;
  border-bottom-width: 3px;
  font-size: 20px;
  font-weight: 700;
}

.inactive {
  border-bottom-width: 0px;
  font-size: 16px;
  font-weight: 500;
}
