@import "styles/colors.scss";
@import "styles/typography.scss";
@import "styles/elevations.scss";

.link {
  height: 100%;
}

.container {
  @extend %elevation-1-normal;
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $white;
}

.center {
  background-color: $purple-1;
  color: $white;
}

.imagecontainer {
  position: relative;
  max-width: 160px;
  min-width: 90px;
  width: 100%;
  margin-bottom: 8px;
  padding-top: 120%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $gray-4;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: center;
  object-fit: cover;
}

.name {
  font-size: $size-caption;
  font-weight: $weight-regular;
  color: $gray-1;
  text-align: center;
  text-transform: capitalize;
  height: 100%;
  max-height: 36px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
