@import "styles/colors.scss";
@import "styles/elevations.scss";
@import "styles/typography.scss";

.container {
  width: 28px;
  height: 28px;
}

%badge {
  @extend %elevation-1;
  display: block;
  border-radius: 50%;
}

.position {
  @extend %badge;
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-style: solid;
  line-height: 24px;
  text-align: center;
}

.center {
  border-color: $white;
  background-color: $pink-1;
  color: $white;
  font-weight: $weight-bold;
}

.fukujin {
  border-color: $white;
  background-color: $gray-1;
  color: $white;
  font-weight: $weight-regular;
}

.selected {
  border-color: $white;
  background-color: $gray-3;
  color: $white;
  font-weight: $weight-regular;
}

.under {
  border-color: $gray-3;
  background-color: $white;
  color: $gray-3;
  font-weight: $weight-regular;
}

.none {
  @extend %badge;
  width: 12px;
  height: 3px;
  margin: 11px 8px;
  background-color: $white;
  border-radius: 0;
}
